{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"
    ></script>
    <title>{% block title %}{{ APP_NAME }} Roster{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item has-text-weight-bold" href="{% url 'index' %}">
            <img src="{% static 'members_base/icon.svg' %}" alt="BSRCC Logo" />
            {{ APP_NAME }}
          </a>

          <a
            role="button"
            id="main_navbar_burger"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="main_navbar" class="navbar-menu">
          <div class="navbar-start">
            {% if user.is_authenticated %}
            <a
              class="navbar-item{% if url_name == 'members' %} is-active{% endif %}"
              href="{% url 'members' %}"
            >
              All
            </a>
            <a
              class="navbar-item{% if url_name == 'members_active' %} is-active{% endif %}"
              href="{% url 'members_active' %}"
            >
              Active
            </a>
            <a
              class="navbar-item{% if url_name == 'members_current' %} is-active{% endif %}"
              href="{% url 'members_current' %}"
            >
              Current
            </a>
            <a
              class="navbar-item{% if url_name == 'members_expired' %} is-active{% endif %}"
              href="{% url 'members_expired' %}"
            >
              Expired
            </a>
            <a
              class="navbar-item{% if url_name == 'members_previous' %} is-active{% endif %}"
              href="{% url 'members_previous' %}"
            >
              Previous
            </a>
            {% endif %}
            {% if user.is_staff %}
            <a
            class="navbar-item{% if url_name == 'send_email_prepare' %} is-active{% endif %}"
              href="{% url 'send_email_prepare' %}"
            >
              Send Email
            </a>
            {% endif %}
          </div>

          <div class="navbar-end">
            {% if user.is_authenticated %}
            <div class="navbar-item">{{ user.username }}</div>
            {% endif %}
            <div class="navbar-item">
              <div class="buttons">
                {% if user.is_authenticated %} {% if user.is_staff %}
                <a href="{% url 'admin:index' %}" class="button">Admin</a>
                {% endif %}
                <a href="{% url 'sign_out' %}" class="button">Sign Out</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {% if messages %}
    <div class="section">
      <div class="container">
        {% for message in messages %}
        <article class="message{% if message.tags %} {{ message.tags }}{% endif %}">
          <div class="message-body">{{ message }}</div>
        </article>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="section">
      <div class="container">{% block content %}{% endblock %}</div>
    </div>

    <script src="{% static 'members_base/nav.js' %}"></script>
  </body>
</html>
