{% extends "members_base/base.html" %}

{% block title %}Members List{% endblock %}

{% block content %}
<div class="columns">
    <div class="column">
        {% if url_name == 'members' %}
        <p>All members past and present.</p>
        {% elif url_name == 'members_active' %}
        <p>Active members. Members must pay membership dues by the end of March to be considered active.</p>
        {% elif url_name == 'members_current' %}
        <p>Members that have paid dues for the current year.</p>
        {% elif url_name == 'members_expired' %}
        <p>Members that have not paid dues for the curent year.</p>
        {% elif url_name == 'members_previous' %}
        <p>Members that paid dues for the previous or current year.</p>
        {% endif %}
        <p>{{ object_list|length }} {{ object_list|pluralize:"member,members" }} in this group.</p>
    </div>
    <div class="column is-narrow">
        {% if object_list|length > 0 %}
        <div class="buttons">
            <a href="{% url 'download_xlsx' member_group %}" class="button is-link">
                Download Excel Spreadsheet
            </a>
            <a href="{{ object_list.mailto_url }}" class="button is-link">
                Email {{ object_list|pluralize:"this,these" }} {{ object_list|length }}
                {{ object_list|pluralize:"member,members" }}
            </a>
        </div>
        {% endif %}
    </div>
</div>

<hr>

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                {% if user.is_staff %}
                <th></th>
                {% endif %}
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>AMA Number</th>
                <th>Office</th>
                <th>Class</th>
                <th>Expiration</th>
            </tr>
        </thead>
        <tbody>
            {% for member in object_list %}
            <tr>
                {% if user.is_staff %}
                <td>
                    <a
                        href="{% url 'admin:members_base_member_change' member.id %}"
                        class="button is-small"
                    >
                        Admin
                    </a>
                </td>
                {% endif %}
                <td>
                    <a href="{% url 'member_detail' member.id %}">
                        {{ member.full_name }}
                    </a>
                </td>
                <td>
                    {% if member.email %}
                    <a
                        href="mailto:{{ member.email }}"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        {{ member.email }}
                    </a>
                    {% else %}
                    &mdash;
                    {% endif %}
                </td>
                <td>
                    {% for phone_number in member.phonenumber_set.all %}
                    <button
                        class="tag is-medium is-hoverable click-copy{% if phone_number.is_primary %} is-primary{% endif %}"
                        data-clipboard-text="{{ phone_number }}"
                        {% if phone_number.is_primary %}title="primary"{% endif %}
                    >
                        {{ phone_number }}
                    </button>
                    {% empty %}
                    &mdash;
                    {% endfor %}
                </td>
                <td>
                    {% if member.ama_number %}
                    <a href="{% url 'ama_verify' member.pk %}{% querystring next=request.path %}">
                        {{ member.ama_number }}
                    </a>
                    {% else %}
                    &mdash;
                    {% endif %}
                </td>
                <td>
                    {% for office in member.offices.all %}
                    <span class="tag is-primary">{{ office }}</span>
                    {% endfor %}
                </td>
                <td>{{ member.membership_class }}</td>
                {% if member.membership_is_current %}
                <td>{{ member.expiration_date }}</td>
                {% else %}
                <td class="has-text-danger">{{ member.expiration_date }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
