{% extends "members_base/base.html" %}

{% block title %}Members List{% endblock %}

{% block content %}
<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>AMA Number</th>
            <th>Office</th>
            <th>Class</th>
            <th>Expiration</th>
        </tr>
    </thead>
    <tbody>
        {% for member in object_list %}
        <tr>
            <td>
                <a href="{% url 'member_detail' member.id %}">
                    {{ member.full_name }}
                </a>
            </td>
            <td>
                {% if member.email %}
                <a
                    href="mailto:{{ member.email }}"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    {{ member.email }}
                </a>
                {% else %}
                &mdash;
                {% endif %}
            </td>
            <td>
                {% for phone_number in member.phonenumber_set.all %}
                <span class="tag is-medium is-hoverable">{{ phone_number }}</span>
                {% empty %}
                &mdash;
                {% endfor %}
            </td>
            <td>{{ member.ama_number|default:"&mdash;" }}</td>
            <td>
                {% for office in member.offices.all %}
                <span class="tag is-primary">{{ office }}</span>
                {% endfor %}
            </td>
            <td>{{ member.membership_class }}</td>
            <td>{{ member.expiration_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
